listening-port={{ turn_raw_port }}
tls-listening-port={{ turn_secure_port }}

{% if turn_setup_nat %}

#nat model config
listening-ip={{ turn_internal_ip }}
external-ip={{ turn_external_ip }}/{{ turn_internal_ip }}
relay-ip={{ turn_internal_ip }}

{% else %}

{% if turn_internal_ip is defined %}
#birdge model config
listening-ip={{ turn_internal_ip }}
relay-ip={{ turn_internal_ip }}
{% endif %}
listening-ip={{ turn_external_ip }}
external-ip={{ turn_external_ip }}
relay-ip={{ turn_external_ip }}

{% endif %}

min-port={{ turn_min_port }}
max-port={{ turn_max_port }}
lt-cred-mech
user={{ turn_username }}:{{ turn_password }}
realm={{ turn_realm }}
server-name={{ turn_realm }}
stale-nonce
no-multicast-peers
cert={{ turn_cert }}
pkey={{ turn_pkey }}
verbose
relay-threads={{ turn_threads }}
no-tlsv1
no-tlsv1_1

no-multicast-peers
{% if turn_allow_loopback %}
allow-loopback-peers
{% else %}
#deny localhost network
denied-peer-ip=127.0.0.0-127.255.255.255
#deny docker-compose network
denied-peer-ip=172.16.0.0-172.31.255.255
#deny home network
denied-peer-ip=192.168.0.0-192.168.255.255
{% endif %}
denied-peer-ip=0.0.0.0-0.255.255.255
denied-peer-ip=10.0.0.0-10.255.255.255
denied-peer-ip=100.64.0.0-100.127.255.255
denied-peer-ip=169.254.0.0-169.254.255.255
denied-peer-ip=192.0.0.0-192.0.0.255
denied-peer-ip=192.0.2.0-192.0.2.255
denied-peer-ip=192.88.99.0-192.88.99.255
denied-peer-ip=198.18.0.0-198.19.255.255
denied-peer-ip=198.51.100.0-198.51.100.255
denied-peer-ip=203.0.113.0-203.0.113.255
denied-peer-ip=240.0.0.0-255.255.255.255
