[Unit]
Description=Robolive Registry
After=syslog.target network.target

# Attempt to start for 10 times during a 60 seconds interval.
StartLimitBurst=10
StartLimitIntervalSec=60

[Service]
User={{ registry_user }}
Group={{ registry_group }}
Environment="SIGNALLING_SIP_URI=sips:rl.arigativa.ru:4443"
Environment="SIGNALLING_HTTP_URI=https://rl.arigativa.ru:4443"
Environment="STUN_URI=stun:rl.arigativa.ru:8080"
Environment="TURN_URI=turn:rl.arigativa.ru:8080?transport=tcp"
Environment="TURN_USERNAME=turn"
Environment="TURN_PASSWORD=turn"
Environment="SESSION_STATE_PATH={{ registry_config_dir }}/session-state.cfg"
Environment="AGENT_STATE_PATH={{ registry_config_dir }}/agent-state.cfg"
Environment="USER_STATE_PATH={{ registry_config_dir }}/user-state.cfg"

ExecStart={{ registry_package_dir }}/bin/registry -Dscala.concurrent.context.minThreads=8 -Dscala.concurrent.context.maxThreads=16 -Dscala.concurrent.context.numThreads=8
Restart=on-failure
InaccessiblePaths=/home
PrivateTmp=yes

[Install]
WantedBy=multi-user.target
